﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Page.aspx.cs" Inherits="XAct.Services.IoC.AspMvc.Ninject.Site.Classic.Page" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <asp:Literal ID="Literal2" runat="server" Text="<%$ Resources:KeyA%>" />
    <%--


<asp:Literal ID="Literal1" runat="server" Text="<%$ Resources:FilterABC, KeyB%>" />


    <div>
        <asp:Label ID="Label3" runat="server" Text="HelloDefault" meta:resourcekey="classicKey" />
    </div>
    <div>
        <asp:Label ID="Label1" runat="server" Text="HelloDefault" meta:resourcekey="classicKey" />
    </div>
    <div>
        <asp:Label ID="Label2" runat="server" Text="<%$ Resources:classicKey.Text %>" />
    </div>
           --%>


    </div>
    </form>
</body>
</html>
